html {
    background-color: #242B35;    
    color: #91959E;
}

main {
    padding: 20px;
}

section {
    margin-top: 10px;
    margin-bottom: 10px;

    border: black 1px solid;
    border-radius: 20px;
}

h3 {
    margin-left: 5%;
}

.params {
    list-style-type: none;
}

ul {
    margin-left: 5%;
}

li {
    marker: none;
}

/*details {}*/
